*{
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
}

/* banner section start */
.banner-section{
    max-width: 1200px;
    height: auto;
    background-image: url(../assets/Hero-bg.png);
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
}

.banner-content{
    width: 80%;
    height: 100%;
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content h1{
    font-weight: 800;
    color: #0D1321;
    padding-top: 10px;
    line-height: 40px;
}
.banner-content p{
    font-size: 13px;
    font-weight: 400;
    color: #0D1321;
    line-height: 20px;
    padding-top: 10px;
}
.banner-btn{
    padding: 10px 10px;
    background: #000;
    color: #fff;
    border-radius: 8px;
    margin: 30px auto;
    font-weight: 300;
    border: none;
}

/* Development section start */
.developer-section{
    width: 900px;
    height: 830px;
    margin: 0px auto;
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.developer-section-content{
    width: 90%;
    height: 90%;
    margin: 35px auto;
}
.developer-section-heding{
   align-items: center;
   text-align: center;
   padding-top: 5px;
   color:#0D1321;
}
.developer-section-heding p{
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    padding: 0px 10px;
}

.developer-section-div1{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    gap: 30px;
    border-radius: 10px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.section-text{
    padding-top: 20px;
    padding-left: 10px;
}
.section-text p{
    font-size: 12px;
    line-height: 20px;
    padding-top: 10px;
    opacity: 0.7;


}

.developer-section-btn{
    padding: 5px 8px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 30px;

}
.section-img{
    justify-content: center;
    display: flex;
}


/* My inspiration section start */
.my-inspiration-section-container{
    width: 900px;
    height: 530px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.my-inspiration-section-container h2{
    font-weight: bold;
    font-size: 30px;
}
.my-inspiration-section-container p{
    padding: 20px 40px;
    line-height: 20px;
}
.youtube-vidio{
    width: 900px;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.youtube-vidio iframe{
    margin-top: 10px;
    border-radius: 16px;
}